<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Post</title>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Raleway:400,500,700|Roboto:300,400,500,700,900|Ubuntu:300,300i,400,400i,500,500i,700" rel="stylesheet">
    @Styles.Render("~/styles/general")
    @Styles.Render("~/styles/profil")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--======= header =======-->
    <header>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <a id="main-category-toggler" class="hidden-md hidden-lg hidden-md" href="@Url.Action("Index", "Home")">
                        <i class="fa fa-navicon"></i>
                    </a>
                    <a id="main-category-toggler-close" class="hidden-md hidden-lg hidden-md" href="@Url.Action("Index", "Home")">
                        <i class="fa fa-close"></i>
                    </a>
                    <div id="logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png" alt=""></a>
                    </div>
                </div><!-- // col-md-2 -->
                <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs hidden-sm">
                    <div class="search-form">
                        <form id="search" action="#" method="post">
                            <input type="text" placeholder="Search here video posts..." />
                            <input type="submit" value="Keywords" />
                        </form>
                    </div>
                </div><!-- // col-md-3 -->
                <div id="main-category" style="width:1000px; height:0px;">
                    <div class="col-lg-3 col-md-3 col-sm-5 hidden-xs hidden-sm">
                        <ul class="main-category-menu">
                            <li class="color-3">
                                <a href="@Url.Action("CategoryPage", "Home")" style="padding-top:0px;color:ivory; margin-left:30px;"><i class="fa fa-th-large"></i>Kategoriler</a>

                                <ul style="top: 50px;">

                                    @foreach (Category item in ViewBag.Kategoriler)
                                    {

                                        <li><a href="@Url.Action("CategoryPage", "Home", new { id = item.ID })"> @item.CategoryName</a></li>
                                    }

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs hidden-sm">
                    <ul class="notifications">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-users"></i>
                                <span class="badge badge-color1 header-badge">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-friend-requests ">
                                <li>
                                    <div class="friend-requests-info">
                                        <div class="thumb"><a href="#"><img src="demo_img/z1.jpg" alt=""></a></div>
                                        <a href="#" class="name">Ahmed Saleh </a>
                                        <span>Ahmed Saleh : Follow you now</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="friend-requests-info">
                                        <div class="thumb"><a href="#"><img src="demo_img/z2.jpg" alt=""></a></div>
                                        <a href="#" class="name">Ahmed Saleh </a>
                                        <span>Ahmed Saleh : Follow you now</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="friend-requests-info">
                                        <div class="thumb"><a href="#"><img src="demo_img/z3.jpg" alt=""></a></div>
                                        <a href="#" class="name">Ahmed Saleh </a>
                                        <span>Ahmed Saleh : Follow you now</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="friend-requests-info">
                                        <div class="thumb"><a href="#"><img src="demo_img/z4.jpg" alt=""></a></div>
                                        <a href="#" class="name">Ahmed Saleh </a>
                                        <span>Ahmed Saleh : Follow you now</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-info-circle"></i>
                                <span class="badge badge-color2 header-badge">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-help-cnter">
                                <li>
                                    <h2 class="title">Help center</h2>
                                    <div class="search-form">
                                        <form id="search-2" action="#" method="post">
                                            <input type="text" placeholder="Search here video posts..." />
                                            <input type="submit" value="Keywords" />
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="title">Help on</h2>
                                    <ul class="help-cat-link">
                                        <li><a href="#">the video</a></li>
                                        <li><a href="#">Copyrights</a></li>
                                        <li><a href="#">Members</a></li>
                                        <li><a href="#">Register</a></li>
                                        <li><a href="#">Comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-color3 header-badge">9</span>
                            </a>
                            <ul class="dropdown-menu dropdown-notifications-items ">
                                <li>
                                    <div class="notification-info">
                                        <a href="#">
                                            <i class="fa fa-video-camera color-1"></i>
                                            <strong>Rabie Elkheir</strong> Add a new <span>Video</span>
                                            <h5 class="time">4 hours ago</h5>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-info">
                                        <a href="#">
                                            <i class="fa fa-thumbs-up color-2"></i>
                                            <strong>Rabie Elkheir</strong> Add a new <span>Video</span>
                                            <h5 class="time">4 hours ago</h5>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-info">
                                        <a href="#">
                                            <i class="fa fa-comment color-3"></i>
                                            <strong>Rabie Elkheir</strong> Add a new <span>Video</span>
                                            <h5 class="time">4 hours ago</h5>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-info">
                                        <a href="#">
                                            <i class="fa fa-video-camera color-1"></i>
                                            <strong>Rabie Elkheir</strong> Add a new <span>Video</span>
                                            <h5 class="time">4 hours ago</h5>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="all_notifications">All Notifications</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs hidden-sm">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" class="user-area">
                            @if (Session["oturum"] != null)
                            {
                                User gelen = (User)Session["oturum"];
                                
                                if (gelen.ImagePath != null)
                                {
                                <div class="thumb"><img src="~/Content/uploads/@gelen.ImagePath" alt=""></div>
                                }
                                else
                                {
                                <div class="thumb"><img src="~/Content/img/user.png" alt="profile author img"></div>
                                }

                                <h2>@gelen.Name  @gelen.Surname</h2>
                                <h6>25 subscribers</h6>
                                <i class="fa fa-angle-down"></i>
                            }
                            else
                            {
                                <h6>@Html.ActionLink("Oturum Aç", "Login", "Login", null, new { @class = "btn btn-info" })</h6>

                            }


                        </a>
                        @if (Session["oturum"] != null)
                        {
                            User gelen = (User)Session["oturum"];
                            <ul class="dropdown-menu account-menu">
                                <li><a href="@Url.Action("AboutMe", "Profile",new {id = gelen.ID })"><i class="fa fa-edit color-1"></i>Profil</a></li>
                                <li><a href="@Url.Action("Settings", "Profile",new { id = gelen.ID })"><i class="fa fa-edit color-1"></i>Profil Düzenle</a></li>
                                <li><a href="@Url.Action("Upload", "Video")"><i class="fa fa-video-camera color-2"></i>Video Yükle</a></li>
                                <li><a href="@Url.Action("FavoriteVideos", "Profile" , new {id = gelen.ID })"><i class="fa fa-star color-3"></i>Favoriler</a></li>
                                <li><a href="@Url.Action("Login", "Login")"><i class="fa fa-sign-out color-4"></i>sign out</a></li>

                            </ul>
                        }

                    </div>
                </div>
            </div><!-- // row -->
        </div><!-- // container-full -->
    </header><!-- // header -->


    <div class="site-output">
        <div class="col-md-2 no-padding-left hidden-sm hidden-xs">
            <div class="left-sidebar">
                <div id="sidebar-stick" style="position:absolute; top:0px;">
                    <ul class="menu-sidebar">
                        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Ana Sayfa</a></li>
                        <li><a href="#"><i class="fa fa-bolt"></i>Trendler</a></li>
                        @if (Session["oturum"] != null)
                        {
                            User geln = (User)Session["oturum"];
                            <li><a href="@Url.Action("FavoriteVideos", "Profile", new { id = geln.ID })"><i class="fa fa-clock-o"></i>Favoriler</a></li>

                            <li><a href="@Url.Action("Upload", "Video")"><i class="fa fa-upload"></i>Video Yükle</a></li>
                        }
                    </ul>
                    <ul class="menu-sidebar">
                        @if (Session["oturum"] != null)
                        {
                            User geln = (User)Session["oturum"];
                            <li><a href="@Url.Action("Settings","Profile", new { id = geln.ID })"><i class="fa fa-edit"></i>Profil Düzenle</a></li>
                            <li><a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out"></i>Oturumu Kapat</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login","Login")"><i class="fa fa-sign-out"></i>Oturum Aç</a></li>
                        }
                    </ul>
                    <ul class="menu-sidebar">
                        <li><a href="#"><i class="fa fa-gear"></i>Settings</a></li>
                        <li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
                        <li><a href="#"><i class="fa fa-send-o"></i>Send feedback</a></li>
                    </ul>
                </div><!-- // sidebar-stick -->
                <div class="clear"></div>
            </div><!-- // left-sidebar -->
        </div><!-- // col-md-2 -->

        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/betube")

    @RenderSection("scripts", required: false)

</body>
</html>
